content/post/home-automation/2022/zwaveplugwashingmachinenotifications/washing-cycle-notification.json
[{"id":"1a53b6dd316fd626","type":"tab","label":"Flow 8","disabled":false,"info":"","env":[]},{"id":"b3e4a5624ac9d518","type":"link in","z":"1a53b6dd316fd626","name":"Washing Machine Notifications","links":["ca506a1b0dfe8ba1","e63c199b1210c601","2acc791d40d9f113","b713589b6fc1fa2a","5daafecdbf09105b","d2f6fdb914f820b7"],"x":85,"y":180,"wires":[["142cfc8c024d98d0"]]},{"id":"142cfc8c024d98d0","type":"change","z":"1a53b6dd316fd626","name":"Washing Machine Notification","rules":[{"t":"set","p":"domain","pt":"msg","to":"notify","tot":"str"},{"t":"set","p":"service","pt":"msg","to":"mobile_app_fkapp","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"ACTION - Time to take out washing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["7e2b772ba33565d7"]]},{"id":"7e2b772ba33565d7","type":"api-call-service","z":"1a53b6dd316fd626","name":"Washing out - Action And Text","server":"770b1d5b.f27204","version":5,"debugenabled":false,"domain":"{{domain}}","service":"{{service}}","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{message}}\",\"data\":{\"actions\":[{\"action\":\"{{action1Action}}\",\"title\":\"{{action1Title}}\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":630,"y":240,"wires":[[]]},{"id":"770b1d5b.f27204","type":"server","name":"Home Assistant - Node-red User","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"}]