content/post/home-automation/2022/zwaveplugwashingmachinenotifications/washing-cycle-end.json
[{"id":"c7ac9c26b4b3750d","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"5511b05f64f5f5b1","type":"trigger-state","z":"c7ac9c26b4b3750d","name":"Washing Complete","server":"770b1d5b.f27204","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.fibaro_wall_plug_electric_consumption_w","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"2.0"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"1.6"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":220,"wires":[["f313351b2dce9a05","125dfa81092d0b75","d2f6fdb914f820b7"],[]]},{"id":"f313351b2dce9a05","type":"api-current-state","z":"c7ac9c26b4b3750d","name":"Washing Machine status dropdown state","server":"770b1d5b.f27204","version":3,"outputs":2,"halt_if":"Running","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.washing_machine_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":220,"wires":[["c68cb6e8d6955af9"],[]]},{"id":"125dfa81092d0b75","type":"api-call-service","z":"c7ac9c26b4b3750d","name":"+1 to washing count for the day","server":"770b1d5b.f27204","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.washing_machine_use_count"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":280,"wires":[[]]},{"id":"d2f6fdb914f820b7","type":"link out","z":"c7ac9c26b4b3750d","name":"Notification","mode":"link","links":["5bef9c598f188374","fc3b25d4ede64aa2"],"x":350,"y":340,"wires":[],"icon":"node-red/bridge.svg","l":true},{"id":"c68cb6e8d6955af9","type":"api-call-service","z":"c7ac9c26b4b3750d","name":"Washing input to \"Completed\"","server":"770b1d5b.f27204","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.washing_machine_status"],"data":"{\"option\": \"Completed\"}","dataType":"json","mergeContext":"","mustacheAltTags":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":790,"y":220,"wires":[[]]},{"id":"770b1d5b.f27204","type":"server","name":"Home Assistant - Node-red User","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"}]