content/blog/home-automation/2022/zwaveplugwashingmachinenotifications/washing-cycle-status.json
[{"id":"c7ac9c26b4b3750d","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"e0bdee88550c7508","type":"switch","z":"c7ac9c26b4b3750d","name":"Running or completed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Running","vt":"str"},{"t":"eq","v":"Completed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":260,"wires":[["47ac4140392aca83"],["1d8755cc067d138e","3bfc582ffa71c935"]]},{"id":"8a46dbae7a037860","type":"api-current-state","z":"c7ac9c26b4b3750d","name":"Washing machine stauts dropdown state","server":"770b1d5b.f27204","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.washing_machine_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":380,"y":380,"wires":[["e0bdee88550c7508"]]},{"id":"14b07d39cf05c174","type":"server-state-changed","z":"c7ac9c26b4b3750d","name":"Washing machine status changed?","server":"770b1d5b.f27204","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.washing_machine_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":200,"wires":[["e0bdee88550c7508"]]},{"id":"5402cfbb2fbac174","type":"poll-state","z":"c7ac9c26b4b3750d","name":"Washing machine status","server":"770b1d5b.f27204","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"input_select.washing_machine_status","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":260,"wires":[["e0bdee88550c7508"]]},{"id":"47ac4140392aca83","type":"function","z":"c7ac9c26b4b3750d","name":"Milliseconds to Minutes","func":"time = msg.data.timeSinceChangedMs;\nrunningTime = (time / 1000 / 60);\nmsg.runningTime = parseFloat(runningTime).toFixed(1);\nremainingtime = 110 - runningTime;\nmsg.remainingTime = parseFloat(remainingtime).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":180,"wires":[["7f3b7cbded7ce6be","c693594518abd80a"]]},{"id":"1d8755cc067d138e","type":"change","z":"c7ac9c26b4b3750d","name":"Not running number","rules":[{"t":"set","p":"runningTime","pt":"msg","to":"NaN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":300,"wires":[["7f3b7cbded7ce6be"]]},{"id":"3bfc582ffa71c935","type":"function","z":"c7ac9c26b4b3750d","name":"Milliseconds to Minutes","func":"msg.runningTime = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":360,"wires":[["c693594518abd80a"]]},{"id":"3ecffe436de5790c","type":"inject","z":"c7ac9c26b4b3750d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":380,"wires":[["8a46dbae7a037860"]]},{"id":"7f3b7cbded7ce6be","type":"ui_gauge","z":"c7ac9c26b4b3750d","name":"Washing Machine Running Time: ","group":"7e2e840297e6ff32","order":4,"width":"3","height":"4","gtype":"wave","title":"Running Time: ","label":"min","format":"{{msg.runningTime}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1140,"y":300,"wires":[]},{"id":"c693594518abd80a","type":"api-call-service","z":"c7ac9c26b4b3750d","name":"Update running time","server":"770b1d5b.f27204","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.washing_machine_running_time"],"data":"{\"value\":\"{{runningTime}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":240,"wires":[[]]},{"id":"b51f0aee106afbd0","type":"comment","z":"c7ac9c26b4b3750d","name":"Multiple triggers","info":"Multiple triggers to ensure as much accuracy as possible.","x":120,"y":160,"wires":[]},{"id":"7e26df45e8227dfe","type":"comment","z":"c7ac9c26b4b3750d","name":"Manual trigger","info":"","x":110,"y":340,"wires":[]},{"id":"770b1d5b.f27204","type":"server","name":"Home Assistant - Node-red User","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"},{"id":"7e2e840297e6ff32","type":"ui_group","name":"Utility Room","tab":"e35fd0e6d6776633","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e35fd0e6d6776633","type":"ui_tab","name":"House","icon":"home","order":34,"disabled":false,"hidden":false}]