content/blog/home-automation/2022/zwaveplugwashingmachinenotifications/washing-cycle-start.json
[{"id":"c7ac9c26b4b3750d","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"fcb212f752a272ef","type":"trigger-state","z":"c7ac9c26b4b3750d","name":"Washing started","server":"770b1d5b.f27204","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.fibaro_wall_plug_electric_consumption_w","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"2.1"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":120,"y":260,"wires":[["cefc03e9cf83886c"],[]]},{"id":"cefc03e9cf83886c","type":"api-current-state","z":"c7ac9c26b4b3750d","name":"Washing machine status dropdown state","server":"770b1d5b.f27204","version":3,"outputs":2,"halt_if":"Completed","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.washing_machine_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":260,"wires":[["681510ab0e10afd0"],[]]},{"id":"681510ab0e10afd0","type":"api-call-service","z":"c7ac9c26b4b3750d","name":"Washing input to \"in progress\"","server":"770b1d5b.f27204","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.washing_machine_status"],"data":"{\"option\": \"Running\"}","dataType":"json","mergeContext":"","mustacheAltTags":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":770,"y":260,"wires":[[]]},{"id":"770b1d5b.f27204","type":"server","name":"Home Assistant - Node-red User","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30"}]